.editor_flash {
	border: darkgray 1px solid;
	background-position: center center;
	background-image: url(editor_flashlogo.gif);
	background-repeat: no-repeat;
}

.editor_video_mp , .editor_video_rm {
	border: darkgray 1px solid;
	background-position: center center;
	background-image: url(editor_video_logo.gif);
	background-repeat: no-repeat;
}
base
{
	target:"_blank";
}
body {
	margin:5px;
	font-size:14px;
}
p {
	margin:3px;
}
.Quote
{
	border: 1px dashed #75BEFA;
	border-top:3px double #75BEFA;
	color:#00008B;
	margin :5px;
	padding:5px;
	background-color : #F6F4EB;
}
.Code
{
	border: 1px dashed #75BEFA;
	border-top:3px double #75BEFA;
	color:#00008B;
	margin :5px;
	padding:5px;
	background-color : #F6F4EB;
}
