<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WC.BLL.Properties.Settings.oaConnectionString" connectionString="Data Source=LINJIE1\lj;Initial Catalog=oa;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="WC.BLL.Properties.Settings.oaConnectionString1" connectionString="Data Source=LINJIE1\LJ;Initial Catalog=oa;Persist Security Info=True;User ID=sa;Password=113356965"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>