<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BoardURL" value="Board.aspx?BoardID=$BoardID&amp;GroupID=$GroupID" />
    <add key="BoardPagerURL" value="Board.aspx?BoardID=$BoardID&amp;GroupID=$GroupID&amp;Page=$Page" />
    <add key="TopicURL" value="Topic.aspx?BoardID=$BoardID&amp;TopicID=$TopicID" />
    <add key="TopicPagerURL" value="Topic.aspx?BoardID=$BoardID&amp;TopicID=$TopicID&amp;Page=$Page" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="false">
    </compilation>
    <pages validateRequest="false" enableSessionState="true" enableViewState="false" enableEventValidation="false" />
    <customErrors defaultRedirect="error.htm" mode="Off" />
    <globalization fileEncoding="UTF-8" requestEncoding="UTF-8" responseEncoding="UTF-8" culture="zh-CN" />
    <httpRuntime maxRequestLength="2000000" executionTimeout="300" />
  </system.web>
</configuration>