<?xml version="1.0" encoding="UTF-8"?>
<ForumConfig>
  <DataBase Value="Server=268212.iask.in,43482;initial catalog=OA;uid=sa;pwd=905E27CF6F8CCF0CF5259F9B3DCE1F;Max Pool Size=10000;Min Pool Size=13;" />
  <TablePrefix Value="WC" />
  <MaxTableCount Value="100000" />
  <TimeZone Value="0" />
  <Extension Value=".aspx" />
  <ForbiddenUploadType Value=".asp.aspx.php.cgi.asa.exe.dll.bat.com.htm.html.xhtml.shtml.htx.ashx.cmd.cer.cdx.ad.adprototype.asax.ascx.ashx.asmx.axd.browser.cd.compiled.config.cs.csproj.dd.exclude.idc.java.jsl.ldb.ldd.lddprototype.ldf.licx.master.mdb.mdf.msgx.refresh.rem.resources.resx.rules.sd.sdm.sdmdocument.shtm.sitemap.skin.soap.stm.svc.vb.vbproj.vjsproj.vsdisco.webinfo.xoml" />
  <UploadType Value=".gif.jpg.bmp.png.rar.zip.doc.xls.txt.torrent.swf" />
  <TemplateID Value="1" />
  <SkinID Value="1" />
  <TemplatePath Value="template/default" />
  <SkinPath Value="template/default/skins/default" />
  <ForumName Value="内部论坛" />
  <Keyword Value="内部论坛" />
  <Description Value="内部论坛" />
  <Logo>[img]images/logo.gif[/img]</Logo>
  <Banner>[img]images/banner.gif[/img]</Banner>
  <ForumState Value="1" />
  <ShowMenu Value="1" />
  <AllowRegister Value="0" />
  <ShowOnline Value="0" />
  <RefreshTime Value="20" />
  <ActiveTitleLength Value="10" />
  <UserConfirm Value="0" />
  <MalePhoto Value="userface/boy.jpg" />
  <FemalePhoto Value="userface/girl.jpg" />
  <PhotoWidth Value="100" />
  <PhotoHeight Value="100" />
  <MaxPhotoWidth Value="150" />
  <MaxPhotoHeight Value="150" />
  <NickNameLength Value="8" />
  <SignLength Value="200" />
  <AllowSignHTML Value="0" />
  <AllowSignUBB Value="1" />
  <AllowHTML Value="1" />
  <AllowUBB Value="1" />
  <TeamNewsNumber Value="200" />
  <TeamPhotoNumber Value="500" />
  <TeamMessageNumber Value="10000" />
  <SecureKey Value="634249150745156250" />
  <ForbiddenName Value="*gt|*lt|*amp|管理员" />
  <CodeType Value="1" />
  <CodeLength Value="4" />
  <CodeDot Value="20" />
  <LoginCode Value="0" />
  <RegisterCode Value="0" />
  <TopicCode Value="0" />
  <ReplyCode Value="0" />
  <MessageCode Value="0" />
  <TopicTime Value="0" />
  <ReplyTime Value="0" />
  <TopicPerTime Value="5" />
  <ReplyPerTime Value="2" />
  <MessagePerTime Value="2" />
  <RegisterPerTime Value="10" />
  <LoginPerTime Value="1" />
  <AllowUploadFile Value="1" />
  <AllowUploadFace Value="1" />
  <FileUploadPath Value="upload" />
  <FaceUploadPath Value="uploadface" />
  <TeamUploadPath Value="teamphoto" />
  <TeamUploadSize Value="500" />
  <FileNameType Value="1" />
  <OuterFace Value="1" />
  <FaceUploadCoin Value="-5" />
  <FaceUploadPoint Value="0" />
  <FileUploadCoin Value="-2" />
  <FileUploadPoint Value="0" />
  <RegisterCoin Value="0" />
  <RegisterPoint Value="0" />
  <LoginCoin Value="0" />
  <LoginPoint Value="0" />
  <TopicCoin Value="1" />
  <TopicPoint Value="2" />
  <ReplyCoin Value="0" />
  <ReplyPoint Value="1" />
  <GoodCoin Value="10" />
  <GoodPoint Value="10" />
  <TopicDelCoin Value="-2" />
  <TopicDelPoint Value="-5" />
  <ReplyDelCoin Value="-1" />
  <ReplyDelPoint Value="-2" />
  <DownloadCoin Value="0" />
  <DownloadPoint Value="0" />
  <MessageCoin Value="0" />
  <MessagePoint Value="0" />
  <WaterType Value="0" />
  <WaterPossition Value="9" />
  <TextContent Value="DXBBS" />
  <TextFont Value="Arial" />
  <TextSize Value="20" />
  <TextColor Value="#FFFFFF" />
  <ImageFile Value="images/water.gif" />
  <Welcome Value="0" />
  <WelcomeTitle Value="内部论坛欢迎您的到来" />
  <WelcomeContent>&lt;P&gt;内部论坛欢迎您的到来!!&lt;/P&gt;</WelcomeContent>
  <Interface Value="0" />
  <PasswordType Value="1" />
  <MinUsernameLength Value="1" />
  <MaxUsernameLength Value="16" />
</ForumConfig>