<?xml version="1.0" encoding="UTF-8"?>
<UserTableConfig>
  <TableName Value="WC_Forum_User" />
  <ID Value="ID" />
  <UserName Value="UserName" />
  <UserPass Value="UserPass" />
  <PasswordType Value="PasswordType" />
  <Question Value="Question" />
  <Answer Value="Answer" />
  <Email Value="Email" />
  <Sex Value="Sex" />
  <Photo Value="Photo" />
  <PhotoWidth Value="PhotoWidth" />
  <PhotoHeight Value="PhotoHeight" />
  <NickName Value="NickName" />
  <Sign Value="Sign" />
  <LevelID Value="LevelID" />
  <LevelType Value="LevelType" />
  <TeamID Value="TeamID" />
  <Coin Value="Coin" />
  <Point Value="Point" />
  <Topic Value="Topic" />
  <Reply Value="Reply" />
  <TopicDel Value="TopicDel" />
  <ReplyDel Value="ReplyDel" />
  <GoodTopic Value="GoodTopic" />
  <IP Value="IP" />
  <UploadNum Value="UploadNum" />
  <UploadTime Value="UploadTime" />
  <LoginTime Value="LoginTime" />
  <LoginIP Value="LoginIP" />
  <Message Value="Message" />
  <State Value="State" />
  <RegTime Value="RegTime" />
</UserTableConfig>