<?xml version="1.0" encoding="utf-8"?>
<sms>
  <!-- 手工修改本配置，需重启服务器. 短信网关要求 OA服务端能访问互联网.-->
  <!-- 本系统集成 中国网建SMS手机短信网关(网站 http://sms.webchinese.cn/). 用户自行充值短信和管理 短信秘钥 短信签名等功能-->
  <!-- 中国网建SMS手机短信网关(官方网站 http://sms.webchinese.cn/). -->
  <sms_url Value="http://gbk.sms.webchinese.cn" />
  <!-- 网关的用户名和短信API秘钥. (以下为示例账号，用户请自行去网关网站申请)-->
  <sms_user Value="test2000" />
  <sms_pwd Value="c20e1632a3ec4cb50509" />
  <!-- 流程审批自动发送短信语模板(x指用户姓名,p指用户部门,t指流程标题). Enable为1 表示启用流程审批短信通知,为0表示禁用  -->
  <cont_f Value="x(p)，您有一份流程文件't'需要您审批，请登录办公平台查阅。" Enable="1" />
  <!-- 公文签发审批自动发送短信语模板(x指用户姓名,p指用户部门,t指公文标题). Enable为1 表示启用公文签发审批短信通知,为0表示禁用  -->
  <cont_g Value="x(p)，您有一份公文文件't'需要您审批，请登录办公平台查阅。" Enable="1" />
  <!-- 资讯通知自动发送短信语模板. Enable为1 表示启用公文签发审批短信通知,为0表示禁用-->
  <cont_n Value="您好，您有一条新资讯通知，请登录办公平台查阅。" Enable="1" />
  <!-- 内部邮件自动发送短信语模板. Enable为1 表示启用公文签发审批短信通知,为0表示禁用-->
  <cont_m Value="您好，您有一封新内部邮件，请登录办公平台查阅。" Enable="1" />
</sms>
<!-- 106网关只允许发送通知，禁止发送促销广告，违规查封. 发送对象客户、会员或员工 -->
<!--短信通道为正规行业通道，禁止发送以下信息，如果发现立刻查封：-->
<!--1、中奖类信息　　　2、骂人短信　　　 3、诽谤诈骗短信　　　 4、赌博违法短信-->
<!--5、彩票类短信　　　6、欺骗短信　　　 7、聊天短信　　　　　 8、暧昧信息-->
<!--9、房产广告　　　 10、移动充值业务　 11、银行类业务　　　 12、考试作弊-->